extends layout
include _includes/sharedHTMLfunctions

block scripts
    script(src='/dist/bundle.js')
    script.
        window.locationCoords = !{JSON.stringify(responseBody.coords)};

block content
    .row.banner
        .col-12
            h1= responseBody.name
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6.h-100
                    p.rating
                        +outputRating(responseBody.rating)
                    p= responseBody.address
                        .card.card-primary
                            .card-block
                                h2.card-title Opening hours
                                each time in responseBody.openingTimes
                                    p.card-text= time.closed ? `${time.days}: Closed` : `${time.days}: ${time.opening} - ${time.closing}`
                        .card.card-primary
                            .card-block
                                h2.card-title Facilities
                                each facility in responseBody.facilities
                                    span.badge.badge-warning
                                        i.fa.fa-check= ` ${facility}`
                                    |&nbsp;
                .col-12.col-md-6.location-map.h-100
                    .card.card-primary
                        .card-block
                            h2.card-title Location map
                            div#map(style="width:100%;height:280px;")
            .row
                .col-12
                    .card.card-primary.review-card
                        .card-block
                            a.btn.btn-primary.float-right(href=`/location/${responseBody._id}/review/new`) Add Review
                            h2.card-title Customer Reviews
                            if responseBody.reviews.length !== 0
                                each review in responseBody.reviews
                                    .row.review
                                        .col-12.no-gutters.review-header
                                            span.rating.d-inline-block.ml-3
                                                +outputRating(review.rating)
                                            span.review.d-inline-block.ml-3= review.author
                                            small.review.d-inline-block.ml-4= new Date(review.createdOn).toLocaleString()
                                        .col-12
                                            p=review.reviewText
                            else
                                .row.review
                                    .col-12.no-gutters.review-header
                                        p Be the first to review this location!
        .col-12.col-lg-3
            p.lead= `${responseBody.name} is on Loc8r because it has accessible wifi and space to sit down with your laptop and get some work done.`
            p
                | If you've been and you like it - or if you don't - please leave a review to help other people just like you.